
.color {
    background-color: rgb(116, 211, 255);
    height: 100px;
}

.dimension {
    width: 170px;
}

.resize {
    width: 420px;
    height: 300px;
}


.sottotitolo {
    
}

  


span {
    background-color: yellow;
}

.size {
    font-size: 11px;
}